html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #57595D;
}

.container {
    background: #fff;
    width: 650px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.poster {
    height: 100%;
    overflow: hidden;
}

.outer-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    height: 100%;
}

.grid-item {
    padding-top: 50px;
    padding-bottom: 50px;
}

.inner-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 100%;
    padding-left: 50px;
}

.inner-grid-item {
    background-color: #C93A2A;
    overflow: hidden;
    padding: 0px;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 32px;
    font-weight: bolder;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    text-align: left;
    font-size: 60px;
    font-weight: bolder;
}

.title-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

.title-end span {
    border-right: 5px solid #C93A2A;
}

.small-text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: lighter;
}

.t1-end {
    font-size: 18px;
}

.t2-end {
    font-size: 12px;
    font-weight: lighter;
}
